= form_for @cpu,method: :post do |f|
  =f.label :name
  %br
  =f.text_field :name
  %br
  =f.label :power
  %br
  =f.text_field :power
  %br
  =f.label :brand
  %br
  =f.select :brand_id, Brand.all.collect {|p| [ p.brand_name, p.id ] }, { include_blank: true },id:'ec4'
  %br
  =f.label :company
  %br
  =f.select :company_id, Company.all.collect {|p| [ p.company_name, p.id ] }, { include_blank: true },id:'ec5'
  %br
  =f.label :socket
  %br
  =f.select :socket_cpu_id, SocketCpu.all.collect {|p| [ p.socket_name, p.id ] }, { include_blank: true },id:'ec6'
  %br
  =f.submit 'Create Cpu'
:javascript
  $(document).ready(function() {
  $("#ec4").select2();$("#ec5").select2();
  $("#ec6").select2();});
