.div
  .row
    .col-md-6
      %h2.text-success
        The recommended minimum power supply:
      %h1.text-success
        =@calc.calc.to_s+' W!'
      %h4.text-success
        Said capacity - a maximum rate of consumption of all components. The total number of measured counting on all devices operating at peak consumption.
        It is important to bear in mind that this amount will never be achieved through normal operation.
      = link_to 'Back', new_calc_path,class:'btn btn-lg btn-primary'